.table {
    width: 150px;
    height: 70px;
    background-color: #00bbac;
    color: #282c34;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    border-radius: 6px;
}

.table_name{
    margin-top: 5px;
    margin-bottom: 10px;
}
