.receipt_content {
    display: flex;
    margin-top: 10px;
}

.receipt {
    flex: 0 0 600px;
    margin-right: 30px;
    text-align: center;
}

.menu {
    flex: 1 1 auto;
}

.receipt_table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-size: 16px;
}

.receipt_table td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.receipt_table th {
    background-color: rgba(255,243,73,0.75);
    font-weight: bold;
}

.receipt_table .sum_row {
    background-color:rgba(27, 141, 255, 0.64);
}

.receipt_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.receipt_table tr:hover {
    background-color: rgba(249,233,237,0.75);
}

.count_button_container{
    display: inline-block;
}

.receipt .count_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.receipt .count_button:hover{
    background-color: #0069d9;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.receipt .count_button:focus{
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.receipt .count_button:active{
    transform: translateY(1px);
    box-shadow: none;
}