.tables_content{
    display: flex;
}

.tables{
    flex: 0 0 800px;
    margin-right: 100px;
}

.table_form {
    flex: 0 0 280px;
    margin-right: 30px;
    border: 2px solid blue;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100%;
    margin-top: 10px;
}
.table_form_caption {
    text-align: center;
    margin: 2px 3px 4px 1px;
    font-weight: bold;
}