.remove_button{
    cursor: pointer;
    background-color: #b60013;
    border: none;
    border-radius: 3px;
    color: white;
    height: 22px;
    width: 35px;
    font-weight: bolder;
}

.remove_button:hover{
    background-color: rgba(182,0,19,0.74);
}