.menu_content {
    display: flex;
    margin-top: 10px;
}

.menu {
    flex: 0 0 500px;
    margin-right: 100px;
}

.menu_table {
    text-align: right;
    position: relative;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
}

.menu_table .remove_button {
    width: 3%;
    border: none;
    background-color: white;
}

.menu_table td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.menu_table th {
    background-color: rgba(231,215,219,0.74);
    font-weight: bold;
}

.menu_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.menu_table tr:hover {
    background-color: #ddd;
}

.menu_form {
    flex: 0 0 280px;
    margin-right: 30px;
    border: 2px solid rgba(45,26,107,0.42);
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100%;
}


.form_caption {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.group_name {
    text-align: center;
}

.row_id {
    display: none;
}