.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login_form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_group input {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_group button:hover {
    background-color: #357ae8;
}

.input_name {
    margin-bottom: 5px;
    margin-top: 5px;
}

.registration_button {
    padding: 15px 20px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid blue;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}
