.input_name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form_field{
    display: flex;
    flex-direction: column;
}

.input{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    outline: none;
    width: 50%;
}

