.header {
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.header div {
    display: inline-flex;
    margin-right: 30px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
    color: gold;
}

.content_links {
    width: 90%;
}

.auth_links{
    width: 10%;
}