.input_name{
    margin-bottom: 5px;
    margin-top: 5px;
}

.add_button {
    margin-top: 5px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid blue;
    color: white;
    background-color: blue;
}