.import_content {
    margin-left: 20px;
    margin-top: 20px;
}

.import_caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.import input{
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.import input:hover {
    border-color: #666;
}

.import input[type="file"]::-webkit-file-upload-button {
    background-color: #4CAF50; /* Змінюємо фоновий колір */
    color: #fff; /* Змінюємо колір тексту */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.import input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #3e8e41;
}

.upload_error{
    color: red;
}